
/*
*
* Gallery-specific Styles
*
*/
body {
    margin-right:-20px;
    overflow-x:hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
#nav {
    background-color: #2b252c;
    color:floralwhite
}

#nav a:hover{
    color:#ef8376
}
#navpanel a:hover{
    color:#ef8376
}

#contactpage {
    max-width: 480px;
    margin-left:auto;
    margin-right:auto
}




